<article class="{{post_class}}">
  <header class="post-header">
    <h1><a href="{{url}}" class="permalink">{{title}}</a></h1>
    <p class="post-meta">
      <time class="post-time" datetime="{{date format='YYYY-MM-DD'}}">{{date format='YYYY-MM-DD'}}</time>
    </p>
  </header>

  <div class="post-content">
  {{content}}
  </div>
  
  <div class="post-footer-meta">
    <span class="post-tags">{{tags}}</span>
  </div>

  {{^is "page"}}

  <footer class="post-footer">
    <nav class="post-nav">
      {{#prev_post}}<span class="post-nav-item prev">← <a href="{{url}}">{{title}}</a></span>{{/prev_post}}
      {{#next_post}}<span class="post-nav-item next"><a href="{{url}}">{{title}}</a> →</span>{{/next_post}}
    </nav>
  </footer>
  {{/is}}
</article>
